{% load static %}
{% if context.user_obj %}
    <div class="user-card">
        <p>{{ context.user_obj.email }}</p>
        <img src="{% static 'teamup_mmu/profile.png' %}">
        <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut maximus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <p>Year: 0 (Foundation)</p>
        <p>Program: Foundation in Computing</p>
        <p>cGPA: 3.69</p>
        <p id="like-status">Not liked yet</p>
        <form id="like-form" hx-post="/matching/like/"
   hx-target="#like-status"
   hx-swap="innerHTML">
            <input type="hidden" name="logged_in_user_id" value=" {{  }}">
            <input type="hidden" name="liked_user_id" value="{{ context.user_obj.id }}">
            <button type="submit">Like</button>
        </form>
        <button hx-get="
        {% url 'matching_with_iter' context.next_iter %}"
        hx-target="#user-list"
        hx-swap="innerHTML">Next</button>
    </div>
{% else %}
    <div class="user-card">No other users found.</div>
{% endif %}