{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <meta charset="UTF-8">
    <title>TeamUp MMU</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'teamup_mmu/css/nav.css' %}">
</head>
<body>
    <nav>
        <a style="all:unset; cursor: pointer; display: contents;" href="/">
            <div class="logo">TeamUp <span class="MM">MM</span><span class="U">U</span></div>
        </a>
        <ul class="nav-middle">
            <li><a href="/matching/">Matching</a></li>
            <li><a href="/classes/">Your Classes</a></li>
            <li><a href="/groups/">Your Groups</a></li>
            <li><a href="/matches/">Your Matches</a></li>
            <li><a href="/inbox/">Inbox</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="/logout/">Logout</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/settings/">Settings</a></li>
            <li>
        <!-- Make the circle a link -->
                <a href="/my_profile/" style="all:unset; cursor:pointer;">
                    <div class="profile-circle">?</div>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="profile-modal-container"></div>
</body>

</html>