{% extends 'nav.html' %}

{% block content %}
<style>
    /* Class css */
    h1 , h2 {color: #00186d}
    .class-list { list-style: none; padding: 0;}
    .class-card { 
        cursor: pointer;
        border: 1px solid #ddd; 
        padding: 1rem; 
        border-radius: 8px; 
        margin-bottom: 1rem; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        flex-grow: 1; 
    }
    .class-card:hover { background-color: #f2f3f8; }
    
    .class-info h3 { margin: 0 0 0.5rem 0; color: #333; }
    .class-info p { margin: 0; color: #666; font-size: 0.9rem; }
    
    /* Join button css */
    .join-btn { 
        background-color: #001561; 
        color: white; 
        border: none; 
        padding: 8px 15px; 
        border-radius: 20px; 
        font-weight: bold; 
        cursor: pointer; 
        transition: 0.3s; 
    }
    .join-btn:hover { background-color: #5b73df; }

    /* Add Class section */
    .h1_section { 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
    .create_class_btn { 
        background-color: #008b20; 
        color: white; 
        border: none; 
        width: 45px;
        height: 45px;
        border-radius: 50%; 
        font-size: 24px;
        font-weight: bold; 
        cursor: pointer; 
        transition: 0.3s; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .create_class_btn:hover { background-color: #4cb262; }

    .leave_btn { 
        background-color: #bc0000; 
        color: white; 
        border: none; 
        padding: 8px 15px;
        border-radius: 20px; 
        font-weight: bold; 
        cursor: pointer; 
        transition: 0.3s; 
    }
    .leave_btn:hover:not(:disabled) { background-color: #e90000dd; }
    .leave_btn:disabled {
        background-color: #b11f1f80;
        color: #f1f5f9;
        cursor: not-allowed;
    }

</style>

<div style="width: 100%; max-width: 800px; margin: 0 auto; background: white; padding: 2rem; border: 1px solid #00198357; border-radius: 15px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);">
    <div class="h1_section">
        <h1>My Classes</h1>
        <div style="display: flex; gap: 10px;">        
            <button class="join-btn" hx-get="/classes/join_modal/" hx-target="#modal-container" hx-swap="innerHTML">Join Class By Code</button>
            <!-- This tells HTMX "when clicked, go fetch the modal HTML from this URL.-->
            <button class="create_class_btn" hx-get="/classes/create_modal/" hx-target="#modal-container" hx-swap="innerHTML" title="Create Class">+</button>
        </div>
    </div>
    <!-- Checking if the user has any classes joined -->
    {% if my_classes %}
        <ul class="class-list">
            {% for c in my_classes %}
            <li class="class-card" hx-get="/classes/class_details/{{ c.id }}/" hx-target="body" hx-push-url="true">
                
                <!-- Left side of the card -->
                <div class="class-info">
                    <h3 id="title-{{ c.id }}">{{ c.course_code }} - {{ c.course_name }}, {{ c.section }}, {{ c.trimester }}</h3>
                    <p id="desc-{{ c.id }}">{{ c.description }}</p>
                </div>

                <!-- Right side of the card (stopPropagation! to prevent accident cliking to view details) -->
                <button class="leave_btn" onclick="event.stopPropagation();" 
                    {% if c.user_role == 'admin' %}
                    disabled title="As the creator, you cannot leave this class. You must delete it instead."
                    {% else %}
                    hx-get="/classes/leave_class/{{ c.id }}/" hx-target="#modal-container" hx-swap="innerHTML"
                    {% endif %}>Leave</button>
                
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align: center; color: #00198379; background-color: #f5fcff; padding: 10px; border-radius: 10px; border: 1px dashed #00198379;">You haven't joined any classes yet.</p>
    {% endif %}

    <h2>Explore Classes</h2>
    <ul class="class-list">
        {% for c in explore_classes %}
        <li class="class-card">
            <div class="class-info">
                <h3>{{ c.course_code }} - {{ c.course_name }}, {{ c.section }}, {{ c.trimester }}</h3>
                <p>{{ c.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- This is where the popup will appear -->
<div id="modal-container"></div>

{% endblock %}
